body{
    display:flex;
    background-image: url("water_background.jpg");
    background-size: cover;
    height:100vh;
    width:100vw;
    margin:0px;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.two{
    height:20%;
    width:95%;
    background-color: teal;
    border:solid black 1px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 20px;
}

.three{
    height:fit-content;
    width:95%;
    background-color: teal;
    border:solid black 1px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}


#nav_bar{
    height:30%;
    width:95%;
    background-color: white;
    border:solid black 1px;
    font-weight: 100;
    justify-content: space-evenly;
    align-items:center;
    font-size: 20px;
    display:flex;

}


.four{
    
    display:flex;
    height:90%;
    width:80%;
    background-color: white;
    margin-left: 6px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    justify-content: center;
    align-items:center;


}

.five{
    
    height:90%;
    width:12%;
    background-color: white;
    margin-right:10px;
    

    
}

.six{
    height:fit-content;
    width:97%;
    background-color: white;
    border:solid black 1px;
    margin-top: 5px;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.six_image{
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    margin-right: 5px;

}

.six_info{
    display:flex;
    height:fit-content;
    width:95%;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}

.six_heading{
    display:flex;
    width:95%;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.six_text{
    justify-content: center;
    width:95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

.seven{
    height:fit-content;
    width:97%;
    background-color: white;
    border:solid black 1px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom:5px;



}

.seven_image{
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-right: 5px;

}

.seven_info{
    display:flex;
    height:fit-content;
    width:95%;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}

.seven_heading{
    display:flex;
    width:95%;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}

.seven_text{
    justify-content: center;
    width:95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;

}
.eight{
    height:fit-content;
    width:97%;
    background-color: white;
    border:solid black 1px;
    margin-top: 5px;
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.eight_image{
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-right: 5px;

}

.eight_info{
    display:flex;
    height:fit-content;
    width:95%;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}

.eight_heading{
    display:flex;
    width:95%;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.eight_text{
    justify-content: center;
    width:95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}


.nine{
    height:fit-content;
    width:97%;
    background-color: white;
    border:solid black 1px;
    margin-top: 5px;
    margin-bottom:5px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;

}

.nine_image{
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top:30px;
    margin-bottom: 5px;

}

.nine_info{
    display:flex;
    height:fit-content;
    width:95%;
    justify-content: center;
    align-items:center;
    flex-direction: column;
   

}

.nine_heading{
    display:flex;
    width:95%;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.nine_text{
    justify-content: center;
    width:95%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

h2{
    font-size:40px;
}
